body,
html {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

body {
  background: url(./images/neonspace.png) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

header {
  margin-top: 4em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > img {
    z-index: 1;
    display: inline-block;
    padding: 4px;
    background: linear-gradient(130deg, #62e1ea, #ea5858);
    margin: auto;
    border-radius: 50%;
    background-size: 200% 200%;
    animation: animated-gradient 2s linear infinite;
  }
  
@keyframes animated-gradient{
    25%{
      background-position: left bottom;
    }
    50%{
      background-position: right bottom;
    }
    75%{
      background-position: right top;
    }
    100%{
      background-position: left top;
    }
}
  
header > img{
    display: block;
    width: 6em;
    height: 6em;
    border-radius: 50%;
}

header > h1 {
  display: inline-block;
  font-size: 0.8em;
  border-radius: 1em;
  background: #fb2666e6;
  color: #ffffffe9;
  padding: 0.3em 0.6em;
  box-shadow: rgb(28, 32, 93 / 24%) 0px 2px 8px 8px;
  /* border: 0px solid #fffa; */
  backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
}

ul {
  box-sizing: border-box;
  list-style: none;
  margin: 0 auto;
  padding: 2em;
  max-width: 480px;
}

ul > li {
  background-color: #fffa;
  backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  border-radius: 10em;
  padding: 0.65em 8em;
  margin: 1.3em 0;
  box-shadow: rgb(28, 32, 93 / 24%) 0px 2px 8px 8px;
}

ul > li > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  letter-spacing: 4px;
}

a {
  color: black;
  text-decoration: none;
}

a > img {
  height: 2em;
  width: 2em;
  padding:0;
}

ul > li:hover {
    background-color: #ff3c76e6;
}

#VANTA {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

main {
    position: relative;
    opacity: 0;
    filter: blur(10px);
    transition: opacity 1s ease-in-out, filter 2s ease-in-out;
}